<p>記事</p>
<p>
  <b>タイトル：<%= @post.title %></b>
</p>

<p>
  <b>カテゴリ：<%= @post.category %></b>
</p>

<p>
  <b>投稿日：<%= @post.created_at %></b>
</p>

<p>
  <b>本文：<%= @post.body %></b>
</p>

  <% @comments.each do |comment| %>
    <p><%= comment.body %></p>
    <p>
        <%= link_to '削除する', comment_path(comment), method: :delete %>
    </p>
  <% end %>

  <%= form_for(@comment, url: { controller: :comments, action: :create }) do |f| %>
      <div class="form-group">
        <%= f.label :body , 'コメント' %><br>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit %>
    <% end %>

<hr>

<%= link_to '編集', edit_post_path(@post), class: "btn btn-success" %>
<%= link_to '削除', post_path(@post), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger" %>
<%= link_to '戻る', :posts, class: "btn btn-default" %>
