<p>記事</p>
<p>
  <b>タイトル：<%= @post.title %></b>
</p>

<p>
  <b>カテゴリ：<%= @post.category %></b>
</p>

<p>
  <b>投稿日：<%= @post.created_at %></b>
</p>

<p>
  <b>本文：<%= @post.body %></b>
</p>

<hr>

<%= link_to '編集', edit_post_path(@post), class: "btn btn-success" %>
<%= link_to '削除', post_path(@post), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger" %>
<%= link_to '戻る', :posts, class: "btn btn-default" %>
